:root {
	/* Theme Fonts */
	--theme-font-family-serif: 'ivymode', Times, serif;
	--theme-font-family-sans: 'ebony', -apple-system, BlinkMacSystemFont, sans-serif;
	--maxwidth-wide: 1440px;
	--maxwidth-narrow: 960px;
}

img {
	height: auto;
}

html,
body {
	background-color: var(--color-light);
	color: var(--color-dark);
}

body {
	margin: 0 auto;
	position: relative;
}

section > article,
section > .block {
	max-width: 1920px;
	margin: auto;
	padding: 2rem;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	max-width: 900px;
}

.columns > * {
	min-width: 15rem;
	max-width: 20rem;
	flex: 1;
}

.headgrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;

	@media (max-width: 800px) {
		& {
			grid-template-columns: 1fr;
		}
	}
}

.headgrid img {
	aspect-ratio: 1/1;
}
