/* IvyMode Reguar & Bold + Ebony Light/Reg/Heavy */
@import url("https://use.typekit.net/gqh5mma.css");

:root {
	/* Theme Fonts */
	--font-family-serif: 'ivymode', Times, serif;
	--font-family-sans: 'ebony', -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --font-size-sm: clamp(14.4px, 0.07vw + 14.13px, 15px);
  --font-size-base: clamp(14px, 0.23vw + 17.09px, 18px);
  --font-size-md: clamp(22.5px, 0.47vw + 20.61px, 26.66px);
  --font-size-lg: clamp(28.13px, 0.84vw + 24.76px, 35.54px);
  --font-size-xl: clamp(35.16px, 1.39vw + 29.6px, 47.37px);
  --font-size-xxl: clamp(43.95px, 2.18vw + 35.22px, 63.15px);
  --font-size-xxxl: clamp(54.93px, 3.32vw + 41.64px, 84.17px);
}

html,
body {
	line-height: 1.5;
	font-family: var(--theme-font-family-sans);
	font-size: var(--font-size-base);
	color: var(--theme-on-bg);
	font-weight: 200;
}

h1 {
	font-family: var(--theme-font-family-serif);
	font-size: var(--font-size-xxl);
	font-weight: 700;
}

h2 {
	font-size: var(--font-size-xl);
	font-style: italic;
	font-weight: 700;
}

h3 {
	font-size: var(--font-size-md);
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 0.25em 0.5em;
	display: inline-block;
}

h4 {
	/* more like tags */
	text-transform: uppercase;
	background-color: var(--color-primary);
	color: var(--color-light);
	padding: 0.25em 0.5em;
	display: inline-block;
}

section.bright :is(h3, h4) {
  /* invert */
  background-color: var(--color-light);
  color: var(--color-primary);
}

h4 + p {
	margin-top: 0.1rem;
}

h1,
h2 {
	font-family: 'ivymode';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

h2 {
	color: var(--color-primary);
}

h3 {
	font-weight: 500;
}

h6 {
	font-size: var(--font-size-sm);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 6rem;
}

:is(h1, h2, h3, h4) +
:is(h1, h2, h3, h4) {
	margin-top: 2rem;
}

p {
	margin-block: 1rem;
	font-weight: 200;
}

blockquote {
	font-style: italic;
	font-size: var(--font-size-base);
	font-weight: 500;
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	border-left: 0.25rem solid var(--theme-on-bg);
}