---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';
import { Icon } from 'astro-icon/components';

import primaryImg from '../../../../assets/imagery/people/pexels-zen-chung-5538599-bw.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves11-edgeB.png';

const seo = {
	title: 'SRF Capital ❦ Our Approach',
};
---

<Layout {seo}>
  <TitleSection
    title="Our Approach"
    deck="Growth is only meaningful when it is scaled by investment with a clear impact and public value."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>Investment Thesis & Process</h2>
    <p>We support partners, platforms, and solutions that strengthen community well-being, economic resilience, and long-term opportunity. Our work centers on advancing inclusive models that unlock human and institutional potential, particularly in places historically overlooked by traditional capital. Grounded in collaboration and shared purpose, we work alongside mission-aligned leaders to build systems that are regenerative, values-driven, and rooted in local context. Through a blend of strategic support, relationship-based engagement, and cross-sector collaboration, we aim to contribute to a more just and sustainable economic future.</p>
  </TitleSection>
  <TextSection narrow>
    <h2>10 Drivers of Impact Alpha</h2>

    <div class="row accessing-opportunities">
      <h3>Accessing Opportunities</h3>
      <div class="driver">
        <Icon name="material-symbols:arrow-or-edge-rounded" />
        <p>Source deals through mission-aligned networks.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:data-exploration-outline-rounded" />
        <p>Uncover opportunities through deep market expertise.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:groups-rounded" />
        <p>Build values alignment with investees.</p>
      </div>
    </div>

    <div class="row creating-value">
      <h3>Creating Value</h3>
      <div class="driver">
        <Icon name="material-symbols:wb-incandescent-rounded" />
        <p>Leverage impact expertise to develop more effective businesses.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:book-2-rounded" />
        <p>Enhance investee branding and storytelling.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:work" />
        <p>Attract and retain manager and investee talent.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:elevation-rounded" />
        <p>Unlock public and philanthropic capital.</p>
      </div>
    </div>

    <div class="row strengthening-outcomes">
      <h3>Strengthening Outcomes</h3>
      <div class="driver">
        <Icon name="material-symbols:factory-rounded" />
        <p>Promote discipline and efficiency in operations through impact accountability.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:quickreply-rounded" />
        <p>Establish credibility with impact-driven stakeholders.</p>
      </div>
      <div class="driver">
        <Icon name="material-symbols:family-history-rounded" />
        <p>Optimize social, environmental, and reputational risk management.</p>
      </div>
    </div>

    <h3>Investment Criteria</h3>
    <p>We support partners and enterprises whose work strengthens health, resilience, and inclusive economic participation. Our approach prioritizes initiatives that demonstrate both long-term sustainability and the potential for community-rooted value creation. We look for models that can generate compounding impact while also contributing to shared prosperity, especially those with pathways to broadened ownership, recurring value, and enduring local relevance. A defensible position, clear purpose, and regenerative potential are essential hallmarks of the work we support.</p>

    <h3>Focus Areas</h3>
    <p>We focus on sectors and strategies that shape the environments where people live, learn, heal, and grow. This includes health and wellness, inclusive infrastructure, technology transfer, housing, and place-based solutions that address the social and economic drivers of well-being. Our efforts are grounded in a commitment to building just economies by expanding access to capital for individuals and institutions with high capability but limited historical access. We are especially focused on regions that have long powered broader prosperity, particularly in the American and Global South, recognizing their critical role in shaping a resilient and equitable future.</p>

    <h3>Defining Success</h3>
    <p>SRF Capital measures success by the momentum we create in strengthening the people and platforms already building enduring health and wealth in their communities. We look for sustained progress across multiple dimensions of (W)Health, both within our investments and across the broader systems they influence. We view innovation not as novelty for its own sake, but as the natural outcome of proximity, trust, and deep engagement with communities that have long had to build brilliance from constraint.</p>
  </TextSection>
</Layout>

<style lang="scss">
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 1rem;

    > * {
      flex: 1;
      padding: 1rem;
      border-radius: 0.25em;
    }

    > :is(h1, h2, h3, h4, h5, h6) {
      flex-basis: 100%;
      margin: 0;
    }

    &.accessing-opportunities {
      .driver, h3 {
        background-color: var(--color-pop);
        color: var(--color-primary);
      }
    }

    &.creating-value {
      .driver, h3 {
        background-color: var(--color-secondary);
        color: var(--color-light);
      }
    }

    &.strengthening-outcomes {
      .driver, h3 {
        background-color: var(--color-primary);
        color: var(--color-light);
      }
    }

    // h3 {
    //   border-bottom-left-radius: 0;
    //   border-bottom-right-radius: 0;

    //   ~ .driver {
    //     border-top-left-radius: 0;
    //     border-top-right-radius: 0;
    //   }
    // }
  }

  .driver {
    :global(svg[data-icon]) {
      height: 4em;
      width: 4em;
    }

    cursor: url(/cursor-srfmtn-white.svg) 2 2, url(/cursor-srfmtn-white.png) 2 2, default;
    box-shadow: 0 0 0 var(--color-dark);
    transition: 0.5s;
    &:hover {
      box-shadow: 0 0 10px var(--color-dark);
      padding-inline: 1.5rem 3.5rem;
    }
  }
</style>
