---
import Layout from '../layouts/Page.astro';
import { HeroVideo, BrightSection } from 'jm-srf-components';
import { getImage } from 'astro:assets';

const logoVideoUrl = '/assets/video/srf_capital_logo_loop.mp4'

const seo = {
	title: 'SRF Capital',
	description: 'Expanding the Universe of impact and building the equitable economies of the future.',
}
---
<Layout seo={seo}>
	<HeroVideo videoUrl={logoVideoUrl}>
		<h1>We invest in <span class="highlight">solutions</span> that expand the universe of <span class="highlight">impact</span> and infrastructure that builds the just economies of the future.</h1>
	</HeroVideo>
	<BrightSection>
		<div class="grid">
			<p>SRF Capital is an impact investment platform that is strategically built to increase the wealth and health of emergent and frontier communities. We build investments across private markets that support the just economies of the future while producing impact alpha returns and creating opportunities for highly capable, but thinly capitalized individuals, institutions, and communities to thrive in place.</p>
			<p class="bold">Our focus is on the hidden and overlooked corners of the market where impact and alpha intersect, and where leveraging capital can create sustained value and ownership for individuals and communities. <span class="highlight">Simply put</span>, we invest in things that make people and the planet healthier.</p>
			<div class="flex">
				<h2>Innovation</h2>
				<p>We support transformative ideas and financial models that reimagine how capital can serve people and communities. Our platform uplifts initiatives across markets that are driving value creation, inclusive growth, and long-term impact. We focus on solutions that expand access to economic opportunity, improve quality of life, and build resilience, particularly in areas related to health, wellness, and sustainable development.</p>
			</div>
			<hr/>
			<div class="flex">
				<h2>Infrastructure</h2>
				<p>We support the development of physical and digital environments that allow people to thrive in place. From the spaces where individuals live, work, learn, and heal to the systems that power and connect communities, we focus on infrastructure that strengthens quality of life and economic resilience. By advancing projects that align with the needs and aspirations of local communities, we help ensure that growth is inclusive, sustainable, and rooted in place.</p>
			</div>
			<hr/>
			<div class="flex">
				<h2>Information</h2>
				<p>We support the advancement of knowledge, measurement, and data systems that help build a more just and equitable economy. By elevating the role of information, how it's captured, shared, and applied, we aim to strengthen accountability, transparency, and impact across sectors. Our work in this area helps ensure that progress is both measurable and meaningful, complementing broader efforts to expand opportunity and support thriving communities.</p>
			</div>
		</div>
	</BrightSection>
</Layout>

<style lang="scss">
	.bold {
		font-size: 1.5em;
		font-weight: bold;
		margin-block: 4rem;
	}

	.highlight {
		color: var(--color-secondary)
	}

	.flex {
		margin-block: 2rem;
		display: flex;
		gap: 2rem;
		align-items: center;
		flex-wrap: wrap;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			flex-basis: 4rem;
			flex-grow: 1;
		}

		p {
			flex-basis: 8rem;
			flex-grow: 2;
		}
	}
</style>
