---
import Layout from '../layouts/Page.astro';
import { Container, FeatureCard } from 'srf-theme-components';
import { HeroSection } from 'jm-srf-components';
import { getImage } from 'astro:assets';

import heroBgImg from '../../../../assets/imagery/people/pexels-kade-10339594.jpg'

const optimizedBackgroundImage = await getImage({
	src: heroBgImg,
	format: 'webp',
})
---

<Layout>
	<HeroSection backgroundImage={heroBgImg}>
		<h1>SRF Capital</h1>
		<h2>Raising the economic foundation for communities to thrive in place.</h2>
	</HeroSection>
	<Container>
		<section class="feature-card__section">
		</section>
	</Container>
</Layout>
