---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-rhema-xplorer-14197790.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves5-edgeB.png';

const seo = {
	title: 'SRF Capital ❦ Measure',
	description: 'SRF has partnered with leading Impact Finance minds to license a transformational proprietary measurement framework to create a Universal Impact measurement based on Quality-Adjusted Life Years (QALYs).',
};
---

<Layout {seo}>
  <TitleSection
    title="Measure"
    deck="SRF has partnered with leading Impact Finance minds to license a transformational proprietary measurement framework to create a Universal Impact measurement based on Quality-Adjusted Life Years (QALYs)."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>(W)Health Universal Impact Measurement</h2>
    <p>SRF has partnered with leading Impact Finance minds to license a transformational proprietary measurement framework to create a Universal Impact measurement based on Quality-Adjusted Life Years (QALYs).</p>

    <h3>Feral Capital</h3>
    <p>Capital that seeks to duplicate, concentrate, and insulate itself for the benefit of its owners</p>

    <h3>Wealthy Capital</h3>
    <p>Inclusion as an investable asset class</p>

    <h3>Healthy Capital</h3>
    <p>Healing and well-being as an investable asset class </p>

    <h3>(W)Health Capital</h3>
    <p>Capital that seeks to improve the quality, duration, and resilience  of life through its investment in QALYs</p>
  </TitleSection>
  <TextSection narrow>
    <h2>Duration of Life</h2>
    <ol>
      <li>Greater life expectancy because of direct investments in projects that address the social determinants of health. Closing life expectancy gap from 75 to 79 and beyond and decreasing infant mortality rates.</li>
      <li>Higher quality of life due to reduction in chronic disease through greater access to healthcare, healthy food, and safe neighborhoods.</li>
      <li>Reduced rates of violence, including reduction in the homicide rate among diverse men and boys through greater economic opportunity, access to mental health services and healthcare generally, and neighborhood investment at all levels.</li>
      <li>Reduced exposure to environmental hazards that contribute to poor health through redevelopment of brownfields and the creation of high-quality housing through new construction or home remodel.</li>
    </ol>

    <h2>Quality of Life</h2>
    <ol>
      <li>Material Health and Physical Well-being – as measured by the ability to participate in the wellbeing of frontier and emergent communities physically, mentally, and financially.</li>
      <li>Material well-being and financial security – as measured by the ability to earn beyond a livable wage to an investable wage and participate in, develop, and shape financial markets.</li>
      <li>Increased educational attainment focused on preparing residents for a variety of career pathways that provide an investable wage and opportunities for promotion and ownership.</li>
      <li>Greater lifetime earnings due to increased educational attainment.</li>
    </ol>

    <h2>Resilience of Life</h2>
    <ol>
      <li>Reduction in the rate of multidimensional poverty among residents/fewer dimensions of multidimensional poverty experienced by residents.</li>
      <li>Greater ability to withstand financial emergencies due to increased savings.</li>
      <li>Fewer cost-burdened residents (those spending more than 30% of their income on housing and utilities) because of increased quality housing.</li>
      <li>Greater self-reported mental health because of more sustainable employment and household stability.</li>
      <li>Families have the ability to transfer wealth across generations.</li>
    </ol>

    <h2>Sustainable Development Goals Stacking</h2>
    <p> Just as a universal measurement framework does not exist in isolation neither does a universal outcome. SRF Capital focuses on crafting the (W)Health economy of the future and paving the way for a just transition to this economy. In opportunities that couple and stack the United Nations Sustainability and Development Goals, we can tackle adaptive challenges and build equitable economies.</p>
  </TextSection>
</Layout>
