---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-viktoria-alipatova-2098849.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves5-edgeB.png';

const seo = {
	title: 'SRF Capital ❦ About',
	description: 'Our mission is to partner and invest in the world’s leading change makers towards building the sustainable and equitable economies of the future.',
};
---

<Layout {seo}>
  <TitleSection
    title="SRF Capital"
    deck="SRF Capital partners with and invests in the world’s leading changemakers towards building the sustainable and equitable economies of the future."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>Mission</h2>
    <p>SRF Capital partners with and invests in the world’s leading changemakers towards building the sustainable and equitable economies of the future.</p>

    <h2>Vision</h2>
    <p>We envision a global economy where value and utility are defined by the good of all humanity. Where investments are made by moral leaders dedicated to helping to build a sustainable future and helping individuals to find dignity, define their self-determinate joy, and to thrive in place.</p>
  </TitleSection>
  <TextSection narrow>
    <h2>Investment Team</h2>
    <p>The SRF team has backgrounds in venture capital, private equity, investment banking, philanthropy, microfinance, entrepreneurship, operations management, public relations and technology and it is composed of individuals who are focused on building the equitable economies of the future.</p>

    <h2>Values</h2>
    <p>We are driven by our desire to see that all people experience and live out their highest callings and deepest joys. When communities domestically in the Southeast and Rustbelt regions, and globally across the African diaspora, are physically, emotionally, educationally, and economically thriving, the roadmap for a joyful and resilient future unfolds for us all.</p>
    <ul>
      <li>Invest with the purpose and the ambition to create opportunities for everyone to self-determine their own joy and to thrive in place.</li>
      <li>Be impeccable with your word.</li>
      <li>Always lead at the intersection of Impact and Alpha.</li>
      <li>Be authentic, self-determined, ask the right questions and authorize yourself to be great and dream even greater.</li>
      <li>Love, compassion, and embracing culture is our competitive advantage. Meet the needs of the present without compromising future generations’ ability to meet their own needs.</li>
      <li>Be first amongst equals and there is only success with honor.</li>
    </ul>

    <h2>Work With Us</h2>
    <p>SRF Capital draws on investors, advanced management professionals, and researchers to generate impact alpha returns to create equitable economies of the future. We promote and champion investment, operations, and research professionals from diverse and international backgrounds driven to who share our passion to invest in opportunities that reimagine the creation of wealth and health in equitable ways.</p>
  </TextSection>
</Layout>
