---
import { TextSection, TitleSection, ParallaxSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';

import primaryImg from '@people/pexels-viktoria-alipatova-2098849.jpg';
import accentImg from '@plants/leaves5-edgeB.png';

const seo = {
	title: 'SRF Capital ❦ About',
	description: 'Our mission is to partner with the world’s brightest and most empathetic leaders to build the sustainable and equitable economies of the future.',
};
---

<Layout {seo}>
  <TitleSection
    title="SRF Capital"
    deck="SRF Capital partners with the world’s brightest and most empathetic leaders to build the sustainable and equitable economies of the future."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>Mission</h2>
    <p>SRF Capital partners with the world’s brightest and most empathetic leaders to build the sustainable and equitable economies of the future.</p>

    <h2>Vision</h2>
    <p>We envision a global economy where value and utility are defined by the good of all humanity. A global economy where investments are made by moral leaders who are dedicated to helping individuals find dignity, self-determine their joy, and thrive in place.</p>
  </TitleSection>
  <TextSection>
    <h2>Deep Expertise and Proximate Leadership</h2>
    <p>The SRF Capital team has backgrounds in public and private-sector finance, policy, real estate, entrepreneurship, and technology. We have proximate relationships that span decades, and each team member has lived experience as a member of or a close partner to the communities we serve. These relationships and experiences differentiate us from other firms and give us a unique perspective on how to create value and Impact alongside the institutions and communities in which we invest.</p>

    <h2>Values</h2>
    <p>We are driven by our commitment to seeing that all people experience and live out their highest callings and deepest joys. When frontier and emerging communities are <strong>physically, emotionally, educationally, and economically thriving</strong>, the roadmap for a joyful and resilient future unfolds for us all. We act in alignment with our following three values:</p>

    <h3>Leadership at the Intersection of Impact and Alpha</h3>
    <p>We know it takes both to create transformational change that is anchored by sustainable returns.</p>

    <h3>Success with Honor</h3>
    <p>We work at the highest levels of integrity.</p>

    <h3>G.A.S.</h3>
    <p>We unapologetically and with whole hearts, <strong>G</strong>ive <strong>A</strong> <strong>S</strong>hit about people, places and the planet. Our investment focus and practices are a direct reflection of these priorities.</p>

    <ParallaxSection backgroundImage={primaryImg}>
      <h2>Diversity is a Competitive Advantage</h2>
      <p>We seek out opportunities to find people to enhance diversity across our investments—not only in terms of race, ethnicity or gender, but also in terms of thought leadership and proximity to the communities in which we invest. Increased creativity and an openness to expanding the experiences and approaches  that lead to increased Impact and alpha, are what we know to be a competitive advantage.</p>

      <p>Philanthropic institutions and traditional investment efforts often engage in siloed causes that bifurcate economic and social returns <strong>rather than integrating them in ways that can lead to Impact and Alpha</strong>. Our investment framework acts in a coordinated manner to create a new systems-level “normal” that unifies the “invisible hand” of the economic market with the “moral heart” of the love of humanity.</p>

      <p>We believe that by investing in opportunities that couple and stack the United Nations’ <a href="">Sustainable Development Goals (SDG)</a>, we can tackle adaptive challenges, move away from extractive markets, and build the equitable economies of the future.</p>
    </ParallaxSection>

    <h2>Work With Us</h2>
    <p>SRF Capital draws on investors, advanced management professionals, operators, and research professionals from diverse and international backgrounds who share our passion to invest in opportunities that reimagine the creation of wealth and health in more equitable ways. Come partner and work with a team where accountability and outcomes are rooted in communities’ values, aspirations, and visions and where we believe <strong>love and an understanding of culture, history and legacy is our competitive advantage</strong>.</p>

    <div class="columns">
      <div class="bio">
        <h3><strong>Dr. Dorian Burton</strong>, CEO & Managing Partner</h3>

        <p>15+ years in nonprofit management, impact, investing, community development, and philanthropy.</p>

        <h4>Fund Role</h4>
        <p>Community building, deal sourcing and structuring, fundraising, and value creation</p>

        <h4>Professional experience</h4>
        <p>Most recently served as Chief Social Impact Officer for Family Office. Formerly Co-Director of The TandemED Initiative for Black Male Achievement and Community Improvement at Harvard Law School’s Charles Hamilton Houston Institute for Race and Justice</p>

        <h4>Education</h4>
        <p>B.A. in Sociology from the Pennsylvania State University, an M.A. in Higher Education from NYU, an MBA from the University of Oxford, and a Doctorate in Education Leadership from Harvard.</p>
      </div>

      <div class="bio">
        <h3><strong>Napoleon Wallace</strong>, CIO & Senior Advisor</h3>

        <p>20+ years investment and fund management experience in community development finance, philanthropy, impact investing, and commercial and investment banking.</p>

        <h4>Fund Role</h4>
        <p>Deal sourcing and structuring, due diligence, underwriting, value creation</p>

        <h4>Professional experience</h4>
        <p>Most recently served as Deputy Secretary of Commerce for the State of North Carolina. Founder of Activest (Fiscal Justice), former Social Investment Officer at Kresge Foundation, Executive Staff at Self-Help, Turnaround CEO of two CDFI credit unions, and a High-Yield Bond Analyst for Wells Fargo Securities.</p>

        <h4>Education</h4>
        <p>B.S. in Finance from North Carolina Central University (HBCU) and an MBA from the University of North Carolina at Chapel Hill.</p>
      </div>

      <div class="bio">
        <h3><strong>Charles Rush</strong>, Partner & General Counsel</h3>

        <p>15+ years of experience in risk assessment, international law, finance, risk management, and regulatory analysis.</p>

        <h4>Fund Role</h4>
        <p>Regulatory compliance, deal sourcing and structuring, value creation, and legal affairs</p>

        <h4>Professional experience</h4>
        <p>Most recently served as an associate in Morgan, Lewis, & Brockius’s International Trade and National Security practice. Former member of KPMG’s Trade and Customs practice and Senior Advisor for Addison-Clifton.</p>

        <h4>Education</h4>
        <p>B.S. in Economics from the Pennsylvania State University, MBA from the University of Pittsburgh, LL.M. in International Economic
  Law from the City University of Hong Kong and a J.D. from the Villanova University.</p>
      </div>

      <div class="bio">
        <h3><strong>Chris Preston</strong>, Exc. Vice President, Investor Relations</h3>

        <p>20+ years in business development, strategic innovation and fundraising.</p>

        <h4>Fund Role</h4>
        <p>Investor relations, external affairs, fund development, value creation</p>

        <h4>Professional experience</h4>
        <p>Most recently served as Chief Development Officer for United Way of Metro Chicago. Chris held roles as senior VP of Strategic and Regional Management at the United Way of Greater Philadelphia and Southern New Jersey where he led the raise of $35 million annually. Chris currently serves as president of George Mason University alumni association. He was recently the recipient of the 2022 George Mason School of Business Alumni Service Award.</p>

        <h4>Education</h4>
        <p>B.S. in Business Management from George Mason University.</p>
      </div>

      <div class="bio">
        <h3><strong>David Dix</strong>, Partner, Government Affairs</h3>

        <p>20+ years in the political forefront building synergies on both sides of the aisle.</p>

        <h4>Fund Role</h4>
        <p>Government relations, legislative affairs, value creation</p>

        <h4>Professional experience</h4>
        <p>Most recently served as Managing Director of Luminous Strategies where he oversees the firm’s Government Relations Division. David has held key roles for governors Tom Ridge and Mark Schweiker. He has also served as Pennsylvania Finance Director for Obama for America (OFA); more recently David has been nominated by PA Governor Tom Wolf as Chairman of the Governor’s Advisory Commission on African American Affairs.</p>

        <h4>Education</h4>
        <p>B.S. in Political Science from Indiana University of Pennsylvania (IUP).</p>
      </div>

      <div class="bio">
        <h3><strong>Ronald Miller</strong>, Exc. Vice President, Operations</h3>

        <p>15 + years of experience in business development, operational management, strategic planning, and revenue growth.</p>

        <h4>Fund Role</h4>
        <p>Portfolio operations, regulatory compliance, deal sourcing, value creation.</p>

        <h4>Professional experience</h4>
        <p>Most recently held executive role as a strategic sale leader for a Fortune 300 company. Ronald has led mergers and acquisitions within the environmental and recycling sustainability industry. Ron has also led business development efforts along the east coast of the United States for a Fortune 500 hospitality company.</p>

        <h4>Education</h4>
        <p>B.S. in Hotel, Restaurant, and Institutional Management from the Pennsylvania State University and MBA from Saint Joseph’s University.</p>
      </div>
    </div>
  </TextSection>
</Layout>
