---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-mwabonje-ringa-2004841.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves18-edgeBL.png';

const seo = {
	title: 'SRF Capital ❦ Our Strategy',
	description: 'We take a full-spectrum approach to capitalizing emerging and frontier communities and systems—unlocking proprietary opportunities where impact and alpha converge.',
};
---

<Layout {seo}>
  <TitleSection
    title="Our Strategy"
    deck="We take a full-spectrum approach to capitalizing emerging and frontier communities and systems—unlocking proprietary opportunities where impact and alpha converge."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>
      Innovation Platforms
      <Icon name="material-symbols:health-metrics-rounded" />
      <Icon name="material-symbols:biotech-rounded" />
      <Icon name="material-symbols:add-business-rounded" />
    </h2>
    <p>We support platforms and strategies that unlock new pathways to equitable economies, community ownership, and enduring outcomes. Our focus includes emerging approaches in health, wellness, and preventative care that improve access, accelerate innovation, and translate insight into impact. From early-stage solutions to scalable models, we back efforts that use data, technology, and human-centered design to reimagine how systems can serve people more effectively and with greater cultural relevance.</p>
    <h2>
      Infrastructure for Impact
      <Icon name="material-symbols:school-rounded" />
      <Icon name="material-symbols:location-city-rounded" />
      <Icon name="material-symbols:energy-savings-leaf-rounded" />
      <Icon name="material-symbols:train-rounded" />
    </h2>
    <p>We help advance infrastructure projects that empower institutions to serve communities more fully and sustainably. By supporting developments in education, health, housing, mobility, and clean energy, we aim to strengthen the physical and digital environments where people live, learn, and grow. Our work centers on institutions with deep local ties and bold ambitions—those building the foundation for healthier, more connected, and more just futures.</p>
  </TitleSection>
  <TextSection narrow>
    <h2>(W)Health Capital</h2>
    <p>SRF Capital’s investments are built to address what we recognize as a capitalization problem in emerging and frontier communities, one that can only be addressed through a thoughtful, proximate, multifaceted investment approach. Our investment framework is built on these two concepts:</p>
    <h3>(W)Health</h3>
    <p>We define (W)Health as a person’s ability/freedom to fully engage their community and capital markets with their highest order of mental and physical facilities and the financial capacity to participate in and co-create capital markets, without bias or the unnecessary burden of systemic barriers. Our investment thesis is uniquely designed to provide a tailwind of capital infusions that propels and dramatically improves the quality, duration, and resilience of life in emergent and frontier communities.</p>
    <h3>(W)Health Capital</h3>
    <p>Innovative investment methods that are not extractive are essential to creating the equitable economies of the future. This requires Impact investors seeking proprietary deal flows to be proximate to corners of the market that have been hidden for some or purposely neglected by others. We focus on investment opportunities that reimagine the creation of wealth and health in equitable ways. We catalyze novel models and growth opportunities by providing what we refer to as “(W)Health Capital” (capital that is blended, patient, and flexible) to highly capable, but thinly capitalized impact entrepreneurs, managers, and institutions. We are guided by the belief that Impact finance entrepreneurs and the communities in which we invest and serve do not have a human capital problem, but rather a capitalization problem. We see the opportunity through bringing the full spectrum of investment capital to bear to generate impact alpha returns and generational (W)Health.</p>
  </TextSection>
</Layout>
