---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-mwabonje-ringa-2004841.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves18-edgeBL.png';

const seo = {
	title: 'SRF Capital ❦ Strategize',
	description: 'We work at the hidden/overlooked corners of the market and at the intersection of where impact and alpha meet.',
};
---

<Layout {seo}>
  <TitleSection
    title="Strategize"
    deck="We work at the hidden/overlooked corners of the market and at the intersection of where impact and alpha meet."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>Our Platform</h2>
    <p>We work at the hidden/overlooked corners of the market and at the intersection of where impact and alpha meet. We wrap capital and capacity around Impact finance entrepreneurs and communities’ ambition and reduce vulnerabilities and risks with targeted technical assistance. Our investment thesis is rooted in the belief that Impact finance entrepreneurs and communities across the domestic and global south have had access to a limited number and range of investors. Our platform is dedicated to providing the full investment capital spectrum to our partners</p>
  </TitleSection>
  <TextSection narrow>
    <h2>Private Equity</h2>
    <p>SRF Capital invests in impact finance funds focused on health and the emerging future of work and healthcare workforce technologies. SRF Capital's approach to investing is rooted in creating equitable economies and transitioning our portfolio companies to one of three employee ownership models: Employee Stock Ownership Plans (ESOPs); worker cooperatives; or Employee Ownership Trusts (EOTs).</p>

    <h2>Real Assets</h2>
    <h3>Expansion of Clinical Enterprise (Hospital & Clinic Acquisition)</h3>
    <p>We invest private capital in the acquisition, infrastructure development and site stewardship of hospitals, clinics, health systems, and alternative site care facilities. Investments aim to improve emerging and frontier communities’ proximity, access and outcomes to healthcare that is: 1) culturally responsive; 2) values-based; 3) quality focused; and 4) patient-centered.</p>

    <h2>Venture</h2>
    <h3>Minority Serving Institutions’ Frontier Technology Transfer, Commercialization & Innovation</h3>
    <p>We invest in seed and growth-stage ventures that present new models of disruptive innovation in healthcare delivery, therapy, telemedicine, modernization, AI and other technologies. Investments walk alongside institutions to manage patents, copyrights and trademarks and work with faculty and the Intellectual Property Committee to bridge the gap between research and practice. Our investments function as an industry gateway to innovation for start-ups, midsize companies, large corporations and non-profit organizations to bring university discoveries to the marketplace. Investments aim to provide greater access to quality care and preventive wellness.</p>

    <h2>Place Based</h2>
    <h3>Impact Investments in Anchor Institutions</h3>
    <p>SRF Capital invests in anchor institutions that have track records of impact in their communities. We form joint ventures with experienced operating partners who possess a robust local market knowledge and who believe in community ownership and building together. Our strategy focuses on addressing existing market needs through innovative deal discovery, long term equity and ownership opportunities, scalable place-based investments, strong double- and triple-bottom line returns, and a tailwind of capital infusions to propel anchor institutions’ missions forward in bigger, faster, and more sustainable ways.</p>

    <h3>Why Anchor Institutions?</h3>
    <p>Anchor institutions present outsized opportunities to invest across core industry sectors. We focus on providing Transformational capital across the capital structure to build impact and alpha in the fields of health and wellness, employment and education. We support Anchor institutions across the growth spectrum, from seed to growth and build capacity for growth by providing technical assistance on strategy, governance, operational, technology, human resources, fundraising, and public-private partnerships.</p>

    <ul>
      <li>Anchors can channel equity investments that generate ownership and community (W)Health without displacement.</li>
      <li>Anchors are first and primary movers with a unique combination of proximity and size that allow them to see overlooked corners of financial markets in communities where alpha still exists.</li>
      <li>Anchors are trusted partners with the deepest institutional knowledge of the communities in which they reside. Their unique purview provides a competitive advantage, allowing them to forecast and pivot from negative externalities that others would not see or intuitively know.</li>
      <li>Although often undercapitalized, Anchors have a 100+ year track record of driving blended value returns, have proven to be resilient despite centuries long exposure to negative externalities associated with racism, downturns in markets and even world wars.</li>
      <li>Anchors were created for equity and thus have never lost value for lack of diversity or the need to reorganize to pivot to understand a broader consumer base or market.</li>
    </ul>

    <h2>The Challenge</h2>
    <p> Investments and capital markets are rarely able to outrun negative externalities created by racism and the perpetual underinvestment in frontier and emerging communities. Nowhere is this truth more pervasive than in the healthcare industry. There are entire classes of health and wealth-building opportunities tha because they require equity access to grow, remain out of reach for low- (and many moderate-) wealth communities due to historic and ongoing exclusions. Underinvestment in emergent and frontier communities costs us all.</p>

    <h2>The Opportunity</h2>
    <p>While equity is distributed along racial lines, entrepreneurial genius and collective capacity are not. Because racial and economic exclusion was so forcefully and consistently applied in the healthcare field, Anchor Institutions (e.g., hospitals, MSIs, HBCUs and faith-based institutions present outsized investable opportunities that have the potential to generate deep impact and quality returns for the community. What’s needed are trusted and scaled investment partners that can provide the necessary equity capital, connections, and collaborative spaces across communities to ensure the individual market needs are identified as on-ramps for restorative equity and (w)health are built and sustained.</p>
  </TextSection>
</Layout>
