---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-mwabonje-ringa-2004841.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves18-edgeBL.png';

const seo = {
	title: 'SRF Capital ❦ Our Strategy',
	description: 'We take a full-spectrum approach to capitalizing emerging and frontier communities and systems—unlocking proprietary opportunities where impact and alpha converge.',
};
---

<Layout {seo}>
  <TitleSection
    title="Our Strategy"
    deck="We take a full-spectrum approach to capitalizing emerging and frontier communities and systems—unlocking proprietary opportunities where impact and alpha converge."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>
      Innovation Platforms
      <Icon name="material-symbols:health-metrics-rounded" />
      <Icon name="material-symbols:biotech-rounded" />
      <Icon name="material-symbols:add-business-rounded" />
    </h2>
    <p>We support platforms and strategies that unlock new pathways to equitable economies, community ownership, and enduring outcomes. Our focus includes emerging approaches in health, wellness, and preventative care that improve access, accelerate innovation, and translate insight into impact. From early-stage solutions to scalable models, we back efforts that use data, technology, and human-centered design to reimagine how systems can serve people more effectively and with greater cultural relevance.</p>
    <h2>
      Infrastructure for Impact
      <Icon name="material-symbols:school-rounded" />
      <Icon name="material-symbols:location-city-rounded" />
      <Icon name="material-symbols:energy-savings-leaf-rounded" />
      <Icon name="material-symbols:train-rounded" />
    </h2>
    <p>We help advance infrastructure projects that empower institutions to serve communities more fully and sustainably. By supporting developments in education, health, housing, mobility, and clean energy, we aim to strengthen the physical and digital environments where people live, learn, and grow. Our work centers on institutions with deep local ties and bold ambitions—those building the foundation for healthier, more connected, and more just futures.</p>
  </TitleSection>
  <TextSection narrow>
    <h2>(W)Health Capital</h2>
    <p>SRF Capital’s investment approach is grounded in the belief that many communities do not face a talent gap but a persistent capitalization gap. We respond to this challenge with a thoughtful, multifaceted strategy that aligns proximity, purpose, and blended capital.</p>
    <p>(W)Health is the condition in which individuals and communities can fully participate in and shape economic and social systems, free from bias, limitation, or systemic constraint.</p>
    <p>(W)Health Capital is our proprietary framework for deploying resources in a way that is intentionally designed to strengthen the infrastructure of life and legacy, fueling models that create shared value, unlock hidden markets, and build the foundations of enduring prosperity.</p>
  </TextSection>
</Layout>
