---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-mwabonje-ringa-2004841.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves18-edgeBL.png';

const seo = {
	title: 'SRF Capital ❦ Strategize',
	description: 'Our platform is dedicated to providing the full spectrum of investment capital to our partners to address the hidden/overlooked corners of the market at the intersection of where Impact and Alpha meet.',
};
---

<Layout {seo}>
  <TitleSection
    title="Strategize"
    deck="Our platform is dedicated to providing the full spectrum of investment capital to our partners to address the hidden/overlooked corners of the market at the intersection of where Impact and Alpha meet."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>
      Fund of Fund Investments
      <Icon name="material-symbols:health-metrics-rounded" />
      <Icon name="material-symbols:biotech-rounded" />
      <Icon name="material-symbols:add-business-rounded" />
    </h2>
    <p>SRF Capital reimagines markets by capitalizing and catalyzing novel investment strategies that accelerate equitable economies, ownership and outcomes while producing alpha returns. We have an affinity towards supporting value-added strategies in lower middle market companies and early investment in seed and Series A rounds in the health and wellness space. Examples include strategies that bring disruptive approaches in health and health technology to commercialization and advance the use of Healthcare Data to drive precision focused, preventative, and culturally responsive care.</p>
    <h2>
      Infrastructure Investments
      <Icon name="material-symbols:school-rounded" />
      <Icon name="material-symbols:location-city-rounded" />
      <Icon name="material-symbols:energy-savings-leaf-rounded" />
      <Icon name="material-symbols:train-rounded" />
    </h2>
    <p>SRF Capital reinvigorates markets by investing capital into Anchor institution-led infrastructure projects to move these organizations towards preeminence and the opportunity to better meet their missions to serve their communities. Examples include investments in higher education, smart cities and campuses, healthcare facilities, transition energy, mass transit, healthy housing, and green infrastructure.</p>
  </TitleSection>
  <TextSection narrow>
    <h2>(W)Health Capital</h2>
    <p>SRF Capital’s investments are built to address what we recognize as a capitalization problem in emerging and frontier communities, one that can only be addressed through a thoughtful, proximate, multifaceted investment approach. Our investment framework is built on these two concepts:</p>
    <h3>(W)Health</h3>
    <p>We define (W)Health as a person’s ability/freedom to fully engage their community and capital markets with their highest order of mental and physical facilities and the financial capacity to participate in and co-create capital markets, without bias or the unnecessary burden of systemic barriers. Our investment thesis is uniquely designed to provide a tailwind of capital infusions that propels and dramatically improves the quality, duration, and resilience of life in emergent and frontier communities.</p>
    <h3>(W)Health Capital</h3>
    <p>Innovative investment methods that are not extractive are essential to creating the equitable economies of the future. This requires Impact investors seeking proprietary deal flows to be proximate to corners of the market that have been hidden for some or purposely neglected by others. We focus on investment opportunities that reimagine the creation of wealth and health in equitable ways. We catalyze novel models and growth opportunities by providing what we refer to as “(W)Health Capital” (capital that is blended, patient, and flexible) to highly capable, but thinly capitalized impact entrepreneurs, managers, and institutions. We are guided by the belief that Impact finance entrepreneurs and the communities in which we invest and serve do not have a human capital problem, but rather a capitalization problem. We see the opportunity through bringing the full spectrum of investment capital to bear to generate impact alpha returns and generational (W)Health.</p>
  </TextSection>
</Layout>
