---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-viktoria-alipatova-2098849.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves5-edgeB.png';

const seo = {
	title: 'SRF Capital ❦ Theorize',
};
---

<Layout {seo}>
  <TitleSection
    title="Theorize"
    deck="Growth is only meaningful when it is scaled by investment with a clear impact and public value."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>Defining Success</h2>
    <p>SRF Capital, with our partners, takes an ecosystem-level capital strategy that strengthens and accelerates the native impact finance and institutions dedicated to building health and wealth in communities. We know that growth is only meaningful when it is scaled by investment with a clear impact and public value.</p>
  </TitleSection>
  <TextSection narrow>
    <h2>Investment Thesis</h2>
    <p>SRF’s impact-first investment thesis is grounded in leading with ownership and blended capital that allows individuals to thrive in place. Each investment is pursued not as independent, but rather as part of a holistic and impact-driven strategy within the larger community. SRF exists to invest proximately with community leaders, Anchor Institutions, health and faith-based organizations that have historically been pathways for stability, mobility, and impact. We seek to partner with diverse impact finance entrepreneurs, community-led and community trusted institutions who have an intimate familiarity with the communities they serve. We follow and complement these investments with technical assistance and philanthropic partnerships to maximize human and community potential to produce resilient and thriving futures.</p>

    <h2>Investment Strategy</h2>
    <p>SRF Capital exists to grow the universe of impact investment in the market. Limited partnerships, product platforms, and investment company vehicles are overused methods of clarifying and testing concepts. By disrupting the traditional LP investment model and offering additional ways for thoughtful, equity-oriented individuals to bring their insights to market, we can catalyze innovation. SRF Capital is intentionally positioned as the comprehensive capital platform to make essential investments into growth and novel approaches in intellectual property, deal flow, technology, human capital, and brand assets that will power the next generation of impact in ways that provide sufficient opportunities to test, refine, and launch for a wider pool of diverse ideas.</p>

    <h2>Investment Criteria</h2>
    <p>SRF Capital invests in funds and institutions that have impact alpha investment theses, a demonstrated ability to create recurring revenue streams, and are positioned for distributive ownership models. Investments must have defensible advantage(s) with an attractive sustainable growth profile and strategic competitive differentiation. Most importantly, we invest in partners who believe in creating blended value and the equitable economies of the future where all people have the opportunity to thrive in place.</p>

    <h2>Focus Industries</h2>
    <p>The SRF Capital platform is domestically focused and seeks out opportunities that affect the social determinants of(W)Health in communities across the country, with special attention focused  domestically in the Southeast and Rustbelt regions, and globally across the African diaspora. Such investments are critical pathways for building talent that is underrepresented in heavily capitalized markets and overrepresented and overlooked in these regions.</p>

    <h2>Partnerships</h2>
    <p>SRF strives to be the industry-leading specialist in expanding the universe of impact and generating impact alpha returns to create the equitable economies of the future. SRF draws on outstanding investors, advanced management professionals, and researchers who wish to impart their lifetime of learning and experience to impact and create a world where all people have the opportunity to define their self-determined joy and to thrive in place. Like the markets and communities we work in, we promote and champion investments, operations and research professionals from diverse and international backgrounds driven to fulfill the promises of tomorrow.</p>
  </TextSection>
</Layout>
