---
import '../styles/theme.css'

import { Icon } from 'astro-icon/components'

import { Button } from 'srf-theme-components';
import { BaseHtml, Header, Footer, config } from 'jm-srf-components';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---
<BaseHtml seo={seo}>
	<Header slot="header">
		<Fragment slot="left">
			<a href="/about">About</a>
			<a href="/areas-of-focus">Areas of Focus</a>
			<a href="/strategy">Strategy</a>
			<a href="/get-involved">Get Involved</a>
			<a href="/whealth-capital-project">The (W)Health Capital Project</a>
		</Fragment>
		<img slot="logo-full" class="logo-full" src="/assets/images/srf_impact_wordmark.svg" alt="SRF Impact Logo">
		<img slot="logo-icon" class="logo-icon" src="/assets/images/srf_impact_stacked.svg" alt="SRF Impact Logo">
		<Fragment slot="right">
			<a class="special to-srfcapital" href={config.srfImpactUrl}>
				<img class="logo" src="/assets/images/srf_capital_wordmark.svg" alt="SRF Capital">
			</a>
		</Fragment>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer>
		<a slot="about" href="mailto:info@srf.capital">
			<Icon name="material-symbols:mail-rounded" /> Contact
		</a>
		<hr slot="about" />
		<img class="logo" slot="about" src="/assets/images/srf_impact_wordmark_stacked_white.svg" alt="SRF Impact">

		<a slot="sitenav" href="/about">About</a>
		<a slot="sitenav" href="/areas-of-focus">Areas of Focus</a>
		<a slot="sitenav" href="/strategy">Strategy</a>
		<a slot="sitenav" href="/get-involved">Get Involved</a>
		<a slot="sitenav" href="/whealth-capital-project">The (W)Health Capital Project</a>

		<a class="to-srfcapital button" slot="othersite" href={config.srfCapitalUrl}>
			<img class="logo" src="/assets/images/srf_capital_wordmark.svg" alt="SRF Capital">
		</a>
	</Footer>
</BaseHtml>
