---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/annalise.jpg'

const seo = {
	title: 'SRF ❦ Annalise Venhuizen Kontras',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Annalise Venhuizen Kontras'
    title='Special Assistant to Managing Partner & CEO'
  >
    <h2>What brought you to SRF Capital and what has kept you here?</h2>
    <p>The vision of SRF Capital, the call to revive and realize the worthy goals of Reconstruction, is so compelling and exactly what's necessary. What keeps me here is our team's brilliance and bold action in relation to this mission. It's truly an honor to have a part in this system-shifting, life-changing work that's building a future where all—in the South and across the nation—will thrive.</p>

    <h2>What has been your favorite part of working with SRF Capital?</h2>
    <p>In my role, I have the opportunity to communicate with people doing incredibly inspiring work across the country, which affords me a hope-filled vantage point for envisioning and witnessing the power of the collective.</p>

    <h2>The concept of (W)Health is really about holistic wellbeing—physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>(W)Health is a solid, consistent, nurturing foundation for a full and fulfilling life. It's the conditions one can count on and support one can reliably access in order to build toward one's joy and purpose.</p>

    <h2>You’re fluent in German—how did you decide to pick German as your second language and how do you keep your skills sharp?</h2>
    <p>I'm conversational in German—so definitely not fluent! The high school I attended offered two world languages, and German class was known for being super challenging and offered a biannual opportunity to travel to Europe—two things that were very appealing to young me. I went on to minor in German in college and am certified to teach the language. I (inconsistently) try to keep sharp by using some phrases at home with my kids, reading, and listening to the media in German. Fun fact—I was interviewed recently (in English) for a German-speaking radio story on the dismal state of parental leave in the United States. </p>

    <h2>What quote or saying keeps you going?</h2>
    <p>
      <blockquote>“We are showered every day with gifts, but they are not meant for us to keep… Our work and joy is to pass along the gift and to trust that what we put into the universe will always come back.”</blockquote>
     —Robin Wall Kimmerer, Braiding Sweetgrass
    </p>
  </BioLayout>
</Layout>

