---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/charles.jpg'

const seo = {
  title: 'SRF ❦ Charles Rush',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Charles Rush'
    title='Partner & General Counsel'
  >
    <p class="experience">15+ years of experience in risk assessment, international law, finance, and regulatory analysis</p>

    <h2>Education</h2>
    <ul>
      <li>J.D., Villanova University</li>
      <li>L.L.M, International Economic Law, City University of Hong Kong</li>
      <li>M.B.A., University of Pittsburgh</li>
      <li>B.S. in Economics, The Pennsylvania State University</li>
    </ul>

    <h2>What brought you to SRF Capital? What keeps you motivated in this work?</h2>
    <p>The opportunity to work with Dr. Burton and the rest of our outstanding team. Many of us have known each other for more than 20 years and the opportunity to bring forth the changes we want to see in the world with people you care deeply about has been the most rewarding experience of my professional career. Utilizing my skills and knowledge to benefit the communities I care most about is my biggest motivation to do this work. Having worked in the corporate world for more than 10 years prior to joining SRF Capital, I felt that I was spending my valuable time, effort, and energy to just help multibillion dollar corporations make more money. Our work at SRF Capital is completely counter to my corporate experience. Working to allocate capital in more equitable ways to individuals and communities has been one of my most fulfilling professional experiences.</p>

    <h2>What do you want people to know about SRF Capital’s goals to bring about (W)Health for communities in the Domestic and Global South?</h2>
    <p>When people invest in the less fortunate or undercapitalized, everybody wins. Allocating resources to increase the health and wealth of emergent and frontier communities in the American and Global South creates opportunities that will produce numerous positive benefits for the United States and other nations.</p>

    <h2>The concept of (W)Health is really about holistic wellbeing—physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>Being able to maximize one’s potential without systemic barriers limiting opportunity, growth and earning potential. I am only two generations removed from my grandfather who served our country valiantly during WWII, but due to being a Black man in Mississippi, he was unable to realize his dream of going to college and becoming an architect due to our country’s racist policies. Working to create a society where there are no barriers limiting people from exploring and utilizing their god given abilities is something to which I aspire every day.</p>

    <h2>Your LLM took you all the way to Hong Kong. How did you select this location for your studies and what are your fondest memories of living overseas?</h2>
    <p>I was always interested in studying abroad and learning about international business. Unfortunately, due to me being a member of Penn State’s Football team, I was unable to study abroad as an undergrad. With Hong Kong being one of the world’s financial capitals and the Villanova School of Law having a dual degree program with the City University of Hong Kong, it was an ideal opportunity to study abroad and gain international business experience. Studying and living in Hong Kong was a transformational experience. I made lifelong friendships and had a great time exploring the city and learning more about its culture.</p>

    <h2>What’s your superpower?</h2>
    <p>Being able to develop and foster relationships with people from all walks of life.</p>

    <h2>What’s a personal goal that you’re aiming to achieve this year?</h2>
    <p>To travel more and to continue to grow in my learning and leadership experience.</p>
  </BioLayout>
</Layout>

