---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/david.jpg'

const seo = {
	title: 'SRF ❦ David Dix',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='David Dix'
    title='Partner, Government Affairs'
  >
    <p class="experience">20+ years of experience at the political forefront building synergies on both sides of the aisle</p>

    <h2>Education</h2>
    <p>B.S. in Political Science, Indiana University of Pennsylvania</p>

    <h2>You’ve had quite a long career in a variety of political roles. How has your experience in government and politics shaped your ideas on how impact investment can shape communities?</h2>
    <p>Early in my career, a mentor, George Burrell, Esq., offered to me what has served as my working definition of “Politics”; Politics = The process by which scarce resources are allocated. My experience is proof of concept of how skillful, collective impact yields outsized results.</p>
    <p>Since the beginning of my career, this has served as my working definition of Politics, making clear how the transition to impact investing is a natural amplification of my (life’s work) Career.</p>

    <h2>What personally motivates you to work on behalf of the emerging and frontier communities that SRF Capital intends to support?</h2>
    <p>I am a product of the Communities that SRF Capital invests in. Being of these communities gives me the obligation to give back to them, while also providing me with the opportunity to see hidden corners of the market. I am personally motivated by my role in bringing shared prosperity to both the Community and its Investors through collective impact.</p>

    <h2>What is your superpower?</h2>
    <p>My superpowers are listening, empathy, and action. I excel at convening people and intersecting self-interest for action.</p>

    <h2>The concept of (W)Health is really about holistic wellbeing - physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>I define (W)Health as freedom. I define freedom as the choice to determine your place, space, and actions. It means having the ability to choose where you live, how you move within your environment, and what you do. This includes expanding choice, enhancing one’s ability to move within their space, and creating a living environment that supports one’s aspirations for themselves, their family, and their community.</p>

    <h2>What book have you read most recently that has inspired you?</h2>
    <p>The most recent book that has inspired me is "Prince of Darkness" by Shane White. It is the untold story of Jeremiah G. Hamilton, Wall Street’s first Black millionaire.</p>
  </BioLayout>
</Layout>

