---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/david.jpg'

const seo = {
	title: 'SRF ❦ David Dix',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='David Dix'
    title='Partner, Government Affairs'
  >
    <p class="experience">20+ years of experience at the political forefront building synergies on both sides of the aisle</p>

    <h2>Education</h2>
    <p>B.S. in Political Science, Indiana University of Pennsylvania</p>
  </BioLayout>
</Layout>

