---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/david.jpg'

const seo = {
	title: 'SRF ❦ David Dix',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='David Dix'
    title='Partner, Government Affairs'
  >
    <p class="experience">20+ years of experience at the political forefront building synergies on both sides of the aisle</p>

    <h2>Education</h2>
    <p>B.S. in Political Science, Indiana University of Pennsylvania</p>

    <h2>You’ve had quite a long career in a variety of political roles. How has your experience in government and politics shaped your ideas on how impact investment can shape communities?</h2>
    <p>TK</p>

    <h2>What personally motivates you to work on behalf of the emerging and frontier communities that SRF Capital intends to support?</h2>
    <p>TK</p>

    <h2>What is your superpower?</h2>
    <p>TK</p>

    <h2>The concept of (W)Health is really about holistic wellbeing - physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>TK</p>

    <h2>What book have you read most recently that has inspired you?</h2>
    <p>TK</p>
  </BioLayout>
</Layout>

