---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/dorian.jpg'

const seo = {
	title: 'SRF ❦ Dorian Burton',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Dr. Dorian Burton'
    title='CEO & Managing Partner'
  >
    <p class="experience">15+ years in nonprofit management, impact investing, community development and philanthropy</p>

    <h2>Education</h2>
    <ul>
      <li>Doctorate, Educational Leadership, Harvard University</li>
      <li>MBA, University of Oxford, Saïd Business School</li>
      <li>M.A., Higher Education, NYU</li>
      <li>B.A. in Sociology, The Pennsylvania State University</li>
    </ul>

    <h2>You have such a clear vision for the impact that SRF Capital can provide to its investments. Can you talk about the origins of this vision?</h2>
    <p>TK</p>

    <h2>Anchor institutions are key to SRF Capital’s strategy. What excites you about the opportunity to invest in their success?</h2>
    <p>TK</p>

    <h2>What makes the SRF Capital team’s approach unique?</h2>
    <p>TK</p>

    <h2>The concept of (W)Health is really about holistic wellbeing—physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>TK</p>

    <h2>Other than SRF Capital, what’s new and good in your life?</h2>
    <p>TK</p>

    <h2>Who inspires you?</h2>
    <p>TK</p>
  </BioLayout>
</Layout>

