---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/dorian.jpg'

const seo = {
	title: 'SRF ❦ Dorian Burton',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Dr. Dorian Burton'
    title='CEO & Managing Partner'
  >
    <p class="experience">15+ years in nonprofit management, impact investing, community development and philanthropy</p>

    <h2>Education</h2>
    <ul>
      <li>Doctorate, Educational Leadership, Harvard University</li>
      <li>MBA, University of Oxford, Saïd Business School</li>
      <li>M.A., Higher Education, NYU</li>
      <li>B.A. in Sociology, The Pennsylvania State University</li>
    </ul>
  </BioLayout>
</Layout>

