---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/marcia.jpg'

const seo = {
  title: 'SRF ❦ Annalise Venhuizen Kontras',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Annalise Venhuizen Kontras'
    title='Special Assistant to Managing Partner & CEO'
  >
    <h2>The concept of (W)Health is really about holistic wellbeing—physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>To me, (W)Health represents the full spectrum of wellness, where every aspect of your life strives to be in balance. It’s about more than just physical health; it’s the harmony between your mind, body, spirit, and finances. When these areas are in sync, you create a foundation that allows you to live your purpose fully and authentically. It’s about having the energy, peace of mind, and resources to not only sustain yourself but to lift others as well.</p>

    <h2>What quote or saying keeps you going?</h2>
    <p>
      <blockquote>“Stay committed to your decisions, but stay flexible in your approach.”</blockquote>
      This quote by Tony Robbins resonates deeply with me because it’s a reminder that perseverance is key, but so is adaptability. The journey to success is rarely a straight line, and the ability to pivot while staying true to your core mission is what keeps me moving forward, no matter the challenges.
    </p>

    <h2>What do you wish more people knew about the value of partnering with a strategic communicator?</h2>
    <p>I wish more people understood that a strategic communicator is not just someone who helps you craft a message; they are your partner in creating impact. We bring clarity to your vision, align it with your audience's needs, and amplify it in ways that resonate and drive action. The value of partnering with a strategic communicator is in the depth of insight and foresight we provide—helping you not just speak, but be heard, understood, and remembered.</p>

    <h2>What gets you excited and energized to start your workday?</h2>
    <p>Knowing that every day presents a new opportunity to make a difference excites me. Whether it’s helping a client articulate their brand’s story or strategizing on how to navigate a complex issue, the challenge of creating meaningful connections and driving positive change fuels my passion. I thrive on the idea that my work has the power to influence outcomes and elevate voices that need to be heard.</p>

    <h2>What personal goal are you working to achieve this year?</h2>
    <p>This year, I’m focused on deepening my commitment to self-care and setting stronger boundaries. As someone who pours a lot into my work and others, I recognize the importance of recharging my own energy. My personal goal is to create more space for reflection, creativity, and the things that bring me joy outside of work. This not only enhances my wellbeing, but also allows me to show up even stronger for my clients and team.</p>
  </BioLayout>
</Layout>

