---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/napoleon.jpg'

const seo = {
	title: 'SRF ❦ Napoleon Wallace',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Napoleon Wallace'
    title='CIO & Managing Partner'
  >
    <p class="experience">20+ years in investment and fund management, community development finance, philanthropy, impact investment, and commercial and investment banking</p>

    <h2>Education</h2>
    <ul>
      <li>M.B.A., University of North Carolina, Chapel Hill</li>
      <li>B.S. in Finance, North Carolina Central University (HBCU)</li>
    </ul>

    <h2>Your background in finance is so diverse, having worked in philanthropy, quasi-public finance, traditional finance and government. When you think about what has shaped your views on investment, what have been your biggest influences or takeaways from each of these sectors?</h2>
    <p>My journey through philanthropy, quasi-public finance, traditional finance, and government roles has taught me the power of leverage. In philanthropy, I learned the importance of strategic giving and investing in systemic change. Quasi-public finance showed me how public-private partnerships can fill gaps left by the market, creating opportunities for underserved communities. Traditional finance provided the technical skills and a rigorous understanding of markets, while government roles highlighted the impact of policy on investment outcomes. Each sector reinforced the idea that investments should not only seek financial returns but also social and environmental benefits.</p>

    <h2>What kind of impact do you believe SRF Capital can make through its investments?</h2>
    <p>SRF Capital is poised to redefine what success looks like in the investment world. We aim to create a ripple effect of economic empowerment, community revitalization, and social equity. By focusing on underserved regions and leveraging the power of proximate leadership, we believe we can foster sustainable growth, innovation, and resilience in communities that have historically been overlooked. Our investments are designed to be transformative, not just transactional, paving the way for a more inclusive economy.</p>

    <h2>What is your investment superpower?</h2>
    <p>My investment superpower lies in my ability to see potential where others see problems. Facing ALS has transformed my perspective on what it means to have an investment superpower. Mine has evolved into the ability to distill clarity from complexity, influenced by my intimate understanding of life’s fragility. This clarity is crucial for incorporating objective and convertible social metrics like QALY into our investment strategy, enabling us to quantify the societal impact of our decisions and drive investments that yield true (W)Health for all.” This vision allows me to identify and support transformative opportunities that others might overlook. Combined with a commitment to deep listening and empathy, I can connect with community leaders and entrepreneurs on a personal level, unlocking insights and solutions that are both impactful and innovative.</p>

    <h2>SRF Capital invests in proximate leadership and institutions. What does proximity mean to you and how does proximity shape the design and outcomes of that investment?</h2>
    <p>Proximity to me means being closely connected to the people and places we invest in. It’s about understanding their unique challenges, aspirations, and the context in which they operate. It means deeply connecting with our investment communities to understand their aspirations and challenges intimately. This understanding ensures our strategy is both responsive and respectful to their needs. By integrating QALY metrics, we can more accurately measure how our proximate investments affect community health and happiness, thus ensuring more meaningful and sustainable outcomes.</p>
    <p>This close connection informs our investment strategy, ensuring that it’s not only responsive but also respectful of the communities’ needs and values. By investing in proximate leadership and institutions, we’re not just funding projects; we’re empowering communities to lead their own development, which I believe leads to more sustainable and meaningful outcomes.</p>

    <h2>The concept of (W)Health is really about holistic wellbeing - physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>To me, (W)Health encapsulates a holistic approach to prosperity. It’s not just about financial wealth but includes physical, mental, and spiritual well being. True wealth means having the freedom and capacity to live a fulfilling life, with access to resources that nurture all aspects of health. (W)Health represents a comprehensive prosperity, extending beyond financial wealth to include all dimensions of health. It’s about leading a life enriched by resources that support physical, mental, and spiritual well-being. In this holistic view, QALY serves as a crucial metric, guiding us to investments that foster true wealth by enhancing community well-being in measurable ways. This concept drives my personal life and professional endeavors, aiming for a balance that fosters overall well being for myself and the communities we invest in.</p>

    <h2>What is your favorite quote?</h2>
    <p>One of my favorite quotes is by Maya Angelou:

      <blockquote>“I’ve learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.”</blockquote>

      This resonates deeply with me, both personally and professionally. It’s a reminder of the lasting impact we can have through our actions and interactions, and it guides me to approach each day with intentionality, empathy, and a commitment to making a positive difference.</p>
  </BioLayout>
</Layout>

