---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/theresa.jpg'

const seo = {
	title: 'SRF ❦ Theresa Zawacki',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Theresa Zawacki'
    title='Chief of Staff'
  >
    <p class="experience">20+ years of experience in private and public law practice, economic and community development, community planning, public sector finance, communications, fundraising, and social entrepreneurship</p>

    <h2>Education</h2>
    <ul>
      <li>J.D., University of Cincinnati</li>
      <li>Master of Community Planning, University of Cincinnati</li>
      <li>B.A., Biology and Philosophy, Transylvania University</li>
    </ul>

    <h2>You’ve worked at the 10,000 foot policy development and systems level and at the hyperlocal level over the course of your career. How do you apply lessons from each to the work you’re doing with SRF Capital?</h2>
    <p>When you're working at the big picture level, it's so important to understand the data and how it drives decision-making about systems change and policy development. Data gives us a solid foundation for observing and testing how population-level changes are affected by our policy choices. But it's also so easy to get caught up in or over-reliant on that data and disconnected from the day-to-day reality and lived experiences you're trying to impact through policy development or systems change. This disconnect often leads to policy/systems solutions that look great on paper, but don't pan out the way you thought they would in reality.</p>
    <p>On the other hand, working at the hyperlocal community level, you're able to build relationships and hear people's stories about how systems and policies have affected their lives. You can learn so much from these engagements, and yet it can be tempting to rely on impressions or a few individual outcomes when making decisions that impact the broader community with all its nuances. Communities and families absolutely know what they need to address the gaps they see in systems and policies but it can be challenging and time consuming to build trust to gain a broad collection of authentic input, and tempting to just rely on a few conversations as the basis for making a decision. This can lead to the creation of solutions based on a few very compelling experiences that don't apply to most people, and time and resources spent developing something that is ultimately not useful to the majority of folks you're trying to reach.</p>
    <p>When I think about the opportunity to pull from these experiences, it's really about achieving a balance between understanding the data and deeply listening to the lived experiences of the people who are reflected in that data - and also to the people whose lived experiences are not accurately captured by that data. If you are able to find that balance, you've really struck gold when it comes to your ability to make meaningful impact in people's lives.</p>

    <h2>The concept of (W)Health is really about holistic wellbeing - physical, mental, spiritual, financial. How do you personally define (W)Health?</h2>
    <p>W(H)ealth is the ability to live as your self-determined best, fittest, most socially and spiritually connected, and most authentic self as measured over the course of your lifetime. It also means that broader social policies and systems are not operating as barriers to your success, and that you and your family have the ability to fully participate in all aspects of society and culture in ways that are safe, sustainable and joyful.</p>

    <h2>What's your superpower?</h2>
    <p>I think there may be two. First, I'd say my superpower is my ability to quickly understand and synthesize what others may see as disconnected or unrelated information and my curiosity to learn more about a wide range of subjects. And second, I'd say my superpower is my ability to authentically connect and build trust with people from diverse backgrounds. I love meeting new people and I get energized when I have a chance to learn about their lives and experiences.</p>

    <h2>What’s a personal goal you’re working to achieve this year?</h2>
    <p>My personal goal for this year is to complete a Spartan Super-length race (which is 10k of trail running and 25 obstacles that involve monkey bars, wall climbs, and throwing or carrying various objects) and a Hyrox (an indoor 8k run combined with eight strength and endurance-based stations) - both are endurance-based physical fitness events that test strength and stamina over multiple stations in environments that are super supportive and encouraging, and I'm excited to get stronger and faster as I train for them.</p>
  </BioLayout>
</Layout>

