---
import { BioLayout } from 'jm-srf-components';
import Layout from '../../layouts/Page.astro';

import headshot from '@headshots/theresa.jpg'

const seo = {
	title: 'SRF ❦ Theresa Zawacki',
};
---

<Layout {seo}>
  <BioLayout
    image={headshot}
    fullName='Theresa Zawacki'
    title='Chief of Staff'
  >
    <p class="experience">20+ years of experience in private and public law practice, economic and community development, community planning, public sector finance, communications, fundraising, and social entrepreneurship</p>

    <h2>Education</h2>
    <ul>
      <li>J.D., University of Cincinnati</li>
      <li>Master of Community Planning, University of Cincinnati</li>
      <li>B.A., Biology and Philosophy, Transylvania University</li>
    </ul>
  </BioLayout>
</Layout>

