:root {
	/* SRF Capital colors */
	--color-primary: #223749;
	--color-primary-tinted: #223749;
	--color-secondary: #137a4e;
	--color-secondary-tinted: #1a6042;
	--color-light: #edede9;
	--color-light-tinted: #c1c1bf;
	--color-dark: #323835;
	--color-pop: #719aaa;

	--max-content-width: 1600px;
}

html,
body {
	height: 100%;
	background-color: var(--color-light);
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}
