---
import { TitleSection, TextSection, ParallaxSection } from 'jm-srf-components'
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-inchs-7849294.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves12-edgeB.png';

const seo = {
	title: 'SRF Impact ❦ Areas of Focus',
	description: 'About Page',
};
---

<Layout {seo}>
	<TitleSection
    title='Areas of Focus'
    deck='We believe in leading with Impact and in investing deeply in people, organizations and funds working closely with the communities they serve'
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
		<h2>(W)Health Capital</h2>
    <p>To create the equitable economies of the future, Impact investors seeking proprietary deal flows should be close to the hidden and/or purposely neglected corners of the market. We see the opportunity that exists in these spaces to elevate the full spectrum of capital that results in the creation of (W)Health.</p>
	</TitleSection>
  <TextSection>
    <h3>(W)Health</h3>
    <p>We define (W)Health as a person’s ability/freedom to fully engage their community and capital markets with their highest order of mental and physical facilities and the financial capacity to participate in and co-create capital markets, without bias or the unnecessary burden of systemic barriers.</p>

    <h3>(W)Health Capital</h3>
    <p>Capital that is blended, patient, and flexible and is available to support highly capable, but thinly capitalized Impact entrepreneurs, managers, and institutions. We are guided by the belief that Impact finance entrepreneurs and the communities in which we invest and serve do not have a human capital problem, but rather a capitalization problem. We see the opportunity through bringing the full spectrum of investment capital to bear to generate impact alpha returns and generational (W)Health.</p>

    <p>(W)Health Capital walks alongside individuals and communities as they rise to health, wealth, and prosperity.</p>

    <div class="columns">
      <div>
        <h4>Collective Ambition</h4>
        <p>We engage multiple partners—community, government, private, philanthropic and faith-based organizations — to generate resources to increase the universe of impact.</p>
      </div>

      <div>
        <h4>Public Value</h4>
        <p>We set goals that contribute to the common good, and grow public value from authentic, trusting relationships and structures we nurture.</p>
      </div>

      <div>
        <h4>Multi-Generational Impact</h4>
        <p>We aim for multigenerational and multidimensional solutions that offer sustained Impact.</p>
      </div>

      <div>
        <h4>Blended Value Returns</h4>
        <p>We ask the questions and build the thought leadership that generate smarter investments and multi-tiered opportunities for value.</p>
      </div>

      <div>
        <h4>Self Determined Joy</h4>
        <p>We are driven by people being able to experience and live out their highest calling and deepest joy through capital as a tool for freedom.</p>
      </div>

      <div>
        <h4>Public Kinship</h4>
        <p>We are guided by the concept of public kinship - our values and our care for the communities in which we work. Our work requires a foundation of trust and commitment among investors and the broader community. We create opportunities to develop trust through public kinship across racial, ethnic, and socioeconomic groups. Further, we promote investment decisions and narratives that uplift and enhance  communities’ assets, rather than seeking to address their deficits. Our approach stems from the belief that even the most mundane aspects of our work are essential to building authentic relationships that lead to a better, more equitable society.</p>
      </div>
    </div>
  </TextSection>
  <ParallaxSection backgroundImage={primaryImg}>
    <h2>Increasing the Universe of Impact</h2>

    <p>SRF Impact’s line of inquiry on how to increase the universe of Impact leads to multidimensional solutions that:</p>

    <ol>
      <li><strong>Reimagine Markets.</strong> Improving our economy’s function by capitalizing and catalyzing inventive investment strategies that accelerate equitable economies and ownership.</li>
      <li><strong>Redefine Markets.</strong> Investing in systems-changing strategies using a collective impact lens.</li>
      <li><strong>Reinvigorate Markets.</strong> Providing thought leadership and frameworks for mobilizing capital to evolve to a just, inclusive economy and the creation of thriving, self-determined communities.</li>
    </ol>
  </ParallaxSection>
</Layout>
