---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components'
import Layout from '../layouts/Page.astro';

import primaryImg from '@assets/imagery/people/iStock-1364679535.jpg';
import accentImg from '@assets/imagery/plants/leaves12-edgeB.png';

const seo = {
	title: 'SRF Impact ❦ Get Involved',
	description: 'About Page',
};
---

<Layout {seo}>
	<TitleSection
    title='Get Involved'
    deck='If you’re eager to make an impact, consider supporting our work by becoming a donor.'
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
		<h2>Invest in Our Work</h2>
    <p>SRF Impact is privileged to steward, advise, and invest gifts entrusted to its fund by families and individuals committed to bolstering wealth creation, social mobility, and better health for all. We help families navigate the how, what, and why of Impact Investing. Our family advisory committee only selects a limited number of missioned aligned families who are interested in investing and having an impact through FundONE and the SRF Impact Fund.</p>
    <p>If you’re eager to make an impact, consider supporting our work by becoming a donor.</p>
	</TitleSection>
  <TextSection narrow>
    <h3>Ways to Give and Assets We Accept</h3>

    <ul>
      <li>Cash and cash equivalent</li>
      <li>Stocks and other securities</li>
      <li>Closely held, restricted or pre-IPO stock</li>
      <li>Privately held business interests</li>
      <li>Cryptocurrencies</li>
      <li>Real-estate</li>
      <li>Transfer of a private foundation</li>
      <li>Tangible personal property</li>
    </ul>

    <p>To inquire about becoming an SRF Impact donor, contact Annalise Kontras, <a href="mailto:info@srfimpact.org">info@srfimpact.org</a>.</p>

    <h2>Partner With The SRF Institute</h2>
    <p>SRF Impact draws on the brilliance and experience of outstanding investors, advanced management professionals, and researchers who use their lifetime of learning and experience to impact and create a world where all people have the opportunity to define their self-determined joy and thrive in place. We promote and champion investment, operations and research professionals from diverse and international backgrounds who are driven to fulfill the promises of tomorrow.</p>

    <p>Partner Benefits include access to:</p>
    <ol>
      <li>Deep proximate relationships and a history of a commitment to equity;</li>
      <li>A leveraging vehicle that enables large scale, place-based investments; and</li>
      <li>Financial benefits from charitable contributions.</li>
    </ol>
  </TextSection>
</Layout>
