---
import Layout from '../layouts/Page.astro';
import { Container, FeatureCard } from 'srf-theme-components';
import { HeroSection } from 'jm-srf-components';
import { getImage } from 'astro:assets';

import heroBgImg from '../../../../assets/imagery/landscape/pexels-jess-loiterton-4602695.jpg'
import fundOneImg from '../../../../assets/imagery/people/pexels-aubin-kirch-13008108.jpg'
import fundOnePrizeImg from '../../../../assets/imagery/people/pexels-greta-hoffman-9706190.jpg'
import whealthPapersImg from '../../../../assets/imagery/people/pexels-muhammadtaha-ibrahim-4476358.jpg'

const optimizedBackgroundImage = await getImage({
	src: heroBgImg,
	format: 'webp',
})
---

<Layout>
	<HeroSection backgroundImage={heroBgImg}>
		<h1>SRF Impact</h1>
		<h2>Building equitable economies for the future.</h2>
	</HeroSection>
	<Container>
		<section class="feature-card__section">
			<h2>Our Initiatives</h2>
			<p>
				TODO: will be in square grid—awaiting final count
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="The Wealth Papers" imgSrc={whealthPapersImg.src}>
				</FeatureCard>
				<FeatureCard href="https://www.southernreconstructionfund.org" title="SRF:now" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>
