---
import Layout from '../layouts/Page.astro';
import { Container, FeatureCard } from 'srf-theme-components';
import { HeroLogo } from 'jm-srf-components';
import { getImage } from 'astro:assets';

import heroBgImg from '../../../../assets/imagery/plants/cloud3.png'

import logoSvg from '../../../../assets/logos/srf_impact_brackets_white.svg'
const logoMaskVideoUrl = '/assets/video/istockphoto-1475069111-640_adpp_is.mp4'

const optimizedBackgroundImage = await getImage({
	src: heroBgImg,
	format: 'webp',
})

const seo = {
	title: 'SRF Impact',
	description: 'Building equitable economies for the future.',
}
---
<Layout seo={seo}>
	<HeroLogo
		backgroundImage={heroBgImg}
		logoImage={logoSvg}
		maskVideoUrl={logoMaskVideoUrl}
	>
		<h1>SRF Impact</h1>
		<h2>Building equitable economies for the future.</h2>
	</HeroLogo>
</Layout>
