---
import Layout from '../layouts/Page.astro';
import { HeroVideo, BrightSection } from 'jm-srf-components';
import { getImage } from 'astro:assets';

const logoVideoUrl = '/assets/video/srf_impact_logo_loop.mp4'

const seo = {
	title: 'SRF Impact',
	description: 'Building equitable economies for the future.',
}
---
<Layout seo={seo}>
	<HeroVideo videoUrl={logoVideoUrl}>
		<h1>Expanding the Universe of impact and building the equitable economies of the future</h1>
	</HeroVideo>
	<BrightSection>
		<h1>SRF Impact</h1>
		<h2>Building equitable economies for the future.</h2>
	</BrightSection>
</Layout>
