---
import Layout from '../layouts/Page.astro';
import { Container, FeatureCard } from 'srf-theme-components';
import { HeroSection } from 'jm-srf-components';
import { getImage } from 'astro:assets';

import heroBgImg from '../../../../assets/imagery/landscape/pexels-jess-loiterton-4602695.jpg'

const optimizedBackgroundImage = await getImage({
	src: heroBgImg,
	format: 'webp',
})

const seo = {
	title: 'SRF Impact',
	description: 'Building equitable economies for the future.',
}
---
<Layout seo={seo}>
	<HeroSection backgroundImage={heroBgImg}>
		<h1>SRF Impact</h1>
		<h2>Building equitable economies for the future.</h2>
	</HeroSection>
</Layout>
