---
import Layout from '../layouts/Page.astro';
import { HeroVideo, BrightSection } from 'jm-srf-components';
import { getImage } from 'astro:assets';

const logoVideoUrl = '/assets/video/srf_impact_logo_loop.mp4'

const seo = {
	title: 'SRF Impact',
	description: 'Building equitable economies for the future.',
}
---
<Layout seo={seo}>
	<HeroVideo videoUrl={logoVideoUrl}>
		<h1>If you could redesign society from scratch, what would it look like?</h1>
	</HeroVideo>
	<BrightSection>
		<h1 class="bold">How would you distribute wealth and power?</h1>
		<h1 class="bold">Would you make everyone equal or not? How would you define fairness and equality?</h1>
		<h1 class="bold">And—here’s the kicker—what if you had to make those decisions without knowing who you would be in this new society?</h1>
		<h2 style="text-align: right;">~ John Rawls</h2>
	</BrightSection>
</Layout>

<style>
	.bold {
		font-weight: bold;
	}
</style