---
import { Container, FeatureCard } from 'srf-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Our Initiatives</h2>
			<p>
				Lorem ipsum
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="The Wealth Papers" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="https://www.southernreconstructionfund.org" title="SRF:now" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
