---
import { TextSection, Container, FeatureCard } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Our Strategy</h1>
			<p>
				The (W)Health Capital strategy provides capital that is patient, flexible and affordable with a focus on investment opportunities that reimagine the creation of wealth and health in equitable ways. We catalyze novel models and growth opportunities by providing (W)Health Capital to highly capable, but thinly capitalized impact entrepreneurs, and organizations.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/dark-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <h2 id="whealth-capital">Vision for a (W)Healthy Community</h2>

    <p>A (W)Health-based investment strategy creates value across multiple asset areas that build on each other for multiple generations. We consider the well-being and mobility of all people in a community to provide true opportunities for people to develop comprehensive strategies and build health and wellness. An asset class that includes social, physical, financial, and political capital at the foundation is needed for a prosperous community and the equitable economies of the future.</p>

    <h2>What A (W)Healthy South Looks Like</h2>

    <p>We envision thriving communities dotting the American and global South and the following are eight characteristics that provide safety and opportunity for their residents.The common thread connecting them is that they are inclusive and foster self-determination. They establish a basic standard of living from which individuals can create healthy and prosperous lives.</p>


    <h3>Safe Neighborhoods and Community Autonomy</h3>
    <p>Residents should feel secure and safe in their home and in their neighborhood, free from the presence of violence and/or overly policed environments. Neighbors should have the collective autonomy and resources to find solutions to their problems, with the unencumbered and “no-strings-attached” support of private and public partners.</p>

    <h3>Plentiful Employment and Business Opportunities</h3>
    <p>Residents must have the basic means to acquire and access work opportunities within their community. Jobs should have basic benefits, career-building opportunities, wealth-building opportunities, and a fair and engaging workplace. Local businesses should be competitive, as well as integrated into the regional economy. Communities should have a critical mass of business ownership as to prevent economic leakage.</p>

    <h3>Safe, Affordable, and Secure Housing</h3>
    <p>Well-maintained housing should be affordable for current residents, and market- rate financing and insurance should be affordable for housing investments.</p>

    <h3>Safe and Effective Schools</h3>
    <p>Students should acquire the skills and necessary habits of mind to make educated decisions and to positively contribute to a democratic system. They should also acquire levels of proficiency needed to attend college or secure some type of post-secondary vocational certification with labor-market value that leads to gainful employment and a career of their choosing. School curriculum and instruction should be culturally competent and responsive, as well as ensure that students learn social connectivity and self-efficacy.</p>

    <h3>A Fair Justice System</h3>
    <p>When brought to trial, people should be tried by a jury of their peers and people from their immediate communities. Neighbors should be supported by the criminal justice system in their community-based restorative justice practices and self- policing activity.</p>

    <h3>Access to Reliable and Affordable Health Care</h3>
    <p>Reliable and affordable health care should be readily available, with quality physicians and practitioners focused on the health and well-being of their patients through quality health care, nutritious food, and physical activity. Communities should have access to fresh, affordable produce and local groceries in close proximity to where they live.</p>

    <h3>Representative Local Governments</h3>
    <p>Neighborhoods should have equal voice in determining local political outcomes without systemic barriers to their access and, as tax-paying citizens, receive quality services without having to spend continuous energy and resources on advocacy. Communities should be free of predatory revenue streams collected by municipalities, counties, and cities, as well as predatory financial institutions.</p>

    <h3>Control Over Their Public Identity and Cultural Institutions</h3>
    <p>Communities should have equal representation in media outlets while being able to offer complete narratives of their community and the way media represents them to external actors. Public arts and cultural institutions should have dedicated spaces that reflect community interest. Institutions that celebrate the community’s culture and heritage should be readily available, as should creative spaces that expose residents to a diversity of different cultural, ethnic, social, and sexual orientations.</p>

    <h2>The Individuals</h2>
    <p>Equitable access to capital is key to an inclusive economy. Yet, emerging impact finance entrepreneurs are fighting every day to raise first, or even second capital with the odds stacked against them. As a result, promising novel impact finance strategies struggle to reach scale. FundONE and the Southern Reconstruction Fund are launching The FundONE Prize to catalyze impact finance entrepreneurs of the future.</p>

    <h3>FundONE</h3>
    <p>The SRF’s Fund for Ownership and New Equity (FundONE) exists to diversify, accelerate, and grow the universe of market-changing impact alpha theses being commercialized in intellectual property, deal flow, technology, human capital, and brand assets strategies developed by impact finance entrepreneurs. Our goal is not to fund diversity, it’s to fund “idea diversity.” If our only goal is to grow the amount of assets under management controlled by diverse managers, then any progress made towards a more just and equitable market that extracts less of a human toll is only coincidental. A random walk on impact is simply insufficient to change the way capital interacts with undercapitalized communities, communities of color and our public institutions; all of which regularly experience or engage in, knowingly or unintentionally, extractive financial practices.  We must be intentional and ambitious if we are to achieve meaningful and lasting change.</p>

    <h3>FundONE Prize</h3>
    <p>Equitable access to capital is key to an inclusive economy. Yet, emerging impact finance entrepreneurs are fighting every day to raise first, or even second capital with the odds stacked against them. As a result, promising novel impact finance strategies struggle to reach scale. FundONE and the Southern Reconstruction Fund are launching The FundONE Prize to catalyze impact finance entrepreneurs of the future.</p>

    <p>The FundONE Prize will ensure that a growing community of novel impact finance strategies become available to communities across the South and beyond. Investing in impact finance entrepreneurs with novel strategies that show high potential for scale allows for experimentation, building new investment theses, portfolio differentiation, and developing innovative, new structures. The Prize enables them to bring their networks, insights, social contracts, and lived experience to source, coach, connect and invest in previously underestimated entrepreneurs and communities.</p>

    <Container>
    <section class="feature-card__section">
      <div class="feature-card__grid">
        <FeatureCard href="https://www.fund1.org" title="FundONE" imgSrc="/assets/images/initiatives/fundone_screenshot">
        </FeatureCard>
        <FeatureCard href="https://www.southernreconstructionfund.org" title="FundONE Prize" imgSrc="/assets/images/initiatives/fundoneprize_screenshot">
        </FeatureCard>
      </div>
    </section>
  </Container>

  <h2>The Designated Fund</h2>

  <p>The Southern Reconstruction Fund (SRF) Designated Fund is grounded in the core belief that Southern communities already have the leadership, wisdom, and agency they need to reimagine and transform their communities into beacons of health and prosperity. SRF will invest and work alongside up to six southern communities by facilitating transformative investments, connections, and technical assistance to realize the long overdue promises of the Reconstruction era.</p>

  <p>SRF is privileged to steward and invest gifts entrusted to us by family offices, foundations, corporations, and individuals committed to bolstering wealth creation, social mobility, and better health outcomes for those most affected by unjust American policies across the South. As we seek to reinvigorate markets, we utilize an evergreen fund model and a network of partners to establish a designated fund.</p>

  <p>Our investment approach, (W)Health Capital, is rooted in an understanding of our racialized history and designed to accelerate place-based community change across the South. The scale, flexibility and patience of our investments will directly challenge the region’s history of extraction and enable a broadly defined community asset building agenda.</p>

  <p>Our philanthropic vehicle will make this transformational vision possible., capitalized with charitable contributions and in program- and mission-related investments, will fuel  local grant investments. Nested under the (W)Health Capital umbrella, will allow us to bring patient equity to intermediaries, anchor institutions and funds working to build wealth and health in emerging and frontier communities.</p>

  <h2>The Institute</h2>

  <p>The SRF Institute for Impact Investing & Democracy will dedicate its time, resources, and capacity to creating (W)Health Capital approaches for underinvested communities while creating the necessary external support and policies within communities that sustain and scale investment pathways.</p>

  <p>Our mission is to further promote the training, promotion, and to conduct novel interdisciplinary research, scholarship and practice in social impact investing and (W)Health Capitalism to create pathways to success for emerging and frontier communities (e.g., education, social science, government, business, and public health) within the context of our diverse (ethnic/racial, cultural, socioeconomic) global society. Our work merges the talents of junior and senior investigators, postdocs, undergraduate and graduate students, practitioners and policymakers across disciplines, colleges, universities, and social institutions who are committed to transdisciplinary research and practice on creating pathways to equitable success for all communities.</p>

  <h3>Research & Convenings</h3>

  <p>The Institute will develop, advance, and disseminate scholarship in education, economic development, public health, housing, and social justice fields. The Institute will also convene a series of public dialogues focused on closing traditional racial and ethnic communication gaps across stakeholders while promoting best practices and lessons focused on (W)Health Capitalism.</p>

  <p>Key programs include:</p>
  <ul>
    <li>The (W)Health Capital Consortium</li>
    <li>(W)Health Capital Public-Private Partnership Summit</li>
    <li>The (W)Health Project</li>
  </ul>

  <h3>Leadership Program</h3>

  <p>The Institute will focus on creating innovative solutions to adaptive challenges/opportunities and developing leaders with the tools and habits to create (W)Health Capital investment pathways. </p>

  <p>The Scholar-in-Residence Program will bring leading practitioners, researchers, and policymakers who will be appointed to two-year terms to research and develop innovative strategies and policy solutions to support and evaluate the Institute’s goals to promote and advance (W)Health Capitalism.</p>
  </TextSection>
</Layout>

<style>
  .feature-card__section {
    margin: var(--section-margin) auto;
  }
  .feature-card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--theme-grid-gap);
  }
  @media (max-width: 768px) {
    .feature-card__grid {
      grid-template-columns: 1fr;
    }
  }
</style>
