---
import { TextSection, Container, FeatureCard } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components'
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'SRF Impact ❦ Strategy',
	deck: 'SRF Impact’s (W)Health Capital strategy prioritizes asking the right questions and supporting the people that have the greatest potential to create the right solutions.',
};
---

<Layout {seo}>
	<TitleSection
		title='Our Strategy'
		deck='SRF Impact’s (W)Health Capital strategy prioritizes asking the right questions and supporting the people that have the greatest potential to create the right solutions.'
	>
		<h2 id="whealth-capital">Vision for a (W)Healthy Community</h2>
		<p>A (W)Health-based investment strategy creates value across multiple asset areas that build on each other for multiple generations. We consider the well-being and mobility of all people in a community to provide true opportunities for people to develop comprehensive strategies and build health and wellness. An asset class that includes social, physical, financial, and political capital at the foundation is needed for a prosperous community and the equitable economies of the future.</p>
	</TitleSection>
	<TextSection narrow>

		<h2>The SRF Institute</h2>
		<p>
			What do the equitable economies of the future look like? What is possible when communities are built on a foundation of equity and fairness? How do we redefine value and utility? And how do we accelerate that vision and the universe of Impact?
		</p>
		<p>
			The SRF Institute for Impact Investing & Democracy (the “SRF Institute”) conducts innovative interdisciplinary research, and technical assistance, utilizing a (W)Health Capitalism lens to answer these questions and to create pathways to success for emerging and frontier communities. Our work merges the talents of senior researchers, practitioners and policymakers across disciplines, who are committed to democratizing capital and commercializing innovative transdisciplinary research to the marketplace.
		</p>

		<h3>Communities of Practice</h3>
		<p>
			The Institute builds and supports institutions to develop, advance, and disseminate expertise in investing, that promote outcomes across the social determinants of health with practitioners rooted in (W)Health Capital concepts. To reach an even broader audience, the Institute will also convene a series of public dialogues focused on building bridges across lines of difference, while promoting best practices and lessons focused on (W)Health Capitalism.
		</p>

		<h3>FundONE</h3>
		<p>The Fund for Ownership and New Equity (FundONE) exists to diversify, accelerate, and grow the universe of market-changing impact alpha theses being commercialized in intellectual property, by impact finance entrepreneurs. Our goal is to fund “idea diversity”, and to be intentional and ambitious to achieve meaningful and lasting change. <a href="https://www.fund1.org">Learn more →</a></p>

		<h3>Leadership Programs</h3>
		<p>The Institute will develop leaders with the tools and habits to create (W)Health Capital investment pathways. <a href="#">Learn more → (TK: link to where?)</a></p>

		<Container>
			<section class="feature-card__section">
				<div class="feature-card__grid">
					<FeatureCard href="https://www.fund1.org" title="FundONE" imgSrc="/assets/images/initiatives/fundone_screenshot">
					</FeatureCard>
					<FeatureCard href="https://www.southernreconstructionfund.org" title="FundONE Prize" imgSrc="/assets/images/initiatives/fundoneprize_screenshot">
					</FeatureCard>
				</div>
			</section>
		</Container>

		<h2>The Designated Fund</h2>

		<p>
			SRF Impact is privileged to steward and invest gifts entrusted to our fund by family offices, foundations, corporations, and individuals who are committed to bolstering wealth creation, social mobility, and better health outcomes for those most affected by unjust American policies across the South. We utilize an evergreen fund model to reinvigorate markets and fortify a network of partners to establish a designated fund. The Southern Reconstruction Fund (SRF) Designated Fund believes that Southern communities already have the leadership, wisdom, and agency that are essential for reimagining and transforming their communities into beacons of health and prosperity.
		</p>

		<p>
			Even with the hard-fought efforts of the Civil Rights Movement, the disastrous effects of slavery and its toxic aftermath have fractured our nation through hatred and have shaped the American South while ignoring its deepest suffering. Until we address these wounds, with action, and not just with empathy, the full promise of America will remain unfulfilled.
		</p>

		<p>The Reconstruction era, though turbulent, was a time of abundant promise and opportunity in the American South. From 1865 to 1877, the United States government laid out plans and policies aimed at reintegrating the Confederate states and guaranteeing legal rights and protections for the nation’s newly freed Black populace—towards a “more perfect union” for all. Tragically, this promise did not come to fruition. The Compromise of 1876 and withdrawal of federal troops from the South in 1877 signaled an abandonment of Reconstruction ideals, codified the post-abolition racial hierarchy and divide, and cut short the healing and reconciliation process.</p>

		<p>SRF Impact will invest and work alongside southern communities by facilitating investments, connections, and technical assistance to realize the Reconstruction Era’s long overdue promises. The SRF Designated Fund will allow us to bring patient capital to intermediaries, institutions and funds working to build wealth and health in the American South.</p>

		<p>
			<a href="https://www.southernreconstructionfund.org">Learn more about the SRF Designated Fund →</a>
		</p>
	</TextSection>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
