---
import { TextSection } from 'srf-theme-components';
import { TitleSection } from 'jm-srf-components'
import Layout from '../layouts/Page.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-muhammadtaha-ibrahim-4476358.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves9-edgeBR.png';

const seo = {
	title: 'SRF Impact ❦ The (W)Health Capital Project',
	description: 'The (W)Health The (W)Health Capital Project Is a multimedia partnership between SRF Impact and a network of like-minded practitioners and investors that explore some of the foundational mindset shifts, principles, and strategies required for reimagining markets, the highest use of capital, reinterpreting value, and restoring communities as beacons of health, wealth, and generational prosperity.',
};
---

<Layout {seo}>
	<TitleSection
		title='The (W)Health Capital Project'
		deck='A multimedia partnership between SRF Impact and a network of like-minded practitioners and investors.'
		primaryImage={primaryImg}
		accentImage={accentImg}
	>
		<p>The (W)Health Capital Project is a multimedia collaboration between SRF Impact and a global network of visionary investors, entrepreneurs, and practitioners. Together, we explore the mindset shifts, principles, and capital strategies that unlock healthier markets, redefine value, and position communities as engines of wealth, wellbeing, and generational prosperity.</p>
		<p>While access to capital has long followed lines of bias, talent, vision, and capacity are broadly distributed. The (W)Health Capital Project exists to highlight that truth, and to invite leaders to reflect on their highest and best use of capital. This living archive helps investors and changemakers reconnect capital with purpose, build bridges across lines of difference, and co-create a future where all people have the opportunity to thrive in place.</p>
	</TitleSection>
</Layout>
